.nav-link:hover{transition: all .5s ease}
.hello{text-decoration: none;color:red;}
.move{left: 85px;}.just{position: relative;}
.more{font-size: 18px; font-weight: 700; position: relative; color:black;text-decoration: none;padding: 10px 0; transition:all .5s ease}
.more::before{content: ''; position: absolute; bottom: 0; width: 100%; background: #fff; height: 2px; transition:all .2s ease}
.more:hover{color: #fff; padding: 10px 15px; border:#fff solid 1px}.more:hover::before{opacity: 0}.more.black{color: #000}
.more.black::before{background: #000}.more.black:hover{color: #000; border: #000 solid 1px}.fixed{background-color: #563d7c}
.scrolling {background-color:black;opacity: 0.5}
.sidebar {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color:#563d7c ;overflow-x: hidden;padding-top: 60px;-webkit-transition-duration: .5s;-moz-transition-duration: .5s;-o-transition-duration: .5s;transition-duration: .5s;opacity: 0.95;text-align: center;}.sidebar a{padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: lightgreen;display: block;word-wrap: normal;transition: 0.9s}
.sidebar a:hover{text-decoration: none;color: whitesmoke}
.sidebar .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px}
.openbtn:hover{border: none;color:gray}.openbtn:focus{outline:0px}
@media (min-width: 992px){
    .padd{padding-top: 9px;padding-bottom: 9px}
    .mob{display: none}
    .foot {position: fixed;height: 200px;bottom: 0;width: 100%}
    .mob{display: none}.move{left: 85px}}
@media (max-width: 642px){
    .main {transition: margin-left .5s;padding: 16px}
    .text-block{display: none}
    .mob{margin-left: 5px;margin-top: 2.5px;max-width: 250px}
    .desk{display: none}
    .padd{padding-top: 1px;padding-bottom: 1px}
    .move {width: 140px;left: 0}}
@media (max-width: 992px){
    .main{transition: margin-left .5s;padding: 16px}
    .text-block{display: none}
    .mob{margin-left: 5px;margin-top: 2.5px;max-width: 250px}
    .padd{padding-top: 1px;padding-bottom: 1px}
    .move {left: 0px}}
.text-block {position: absolute;bottom: 20px;right: 20px;background-color:transparent;color: white;padding-left: 20px;padding-right: 20px}
.Active{border-bottom: 1px solid;border-bottom-color: #f1b722;color: white}
.foc:focus{outline: none}
.img-logo{height: 50px;width: auto}
.adjust{position: relative;margin-top: 50px;text-align: center;width: 500px;margin-bottom: 50px}
.blue{color: rgba(29,161,242,1.00);}
.Active{border-bottom: 1px solid;border-bottom-color: #f1b722}
.Active:hover{color: lawngreen}.over:hover{color: lawngreen}
@media screen and (min-width: 600px){
    .mob{margin-left: 30px;margin-top: 2.5px;max-width: 250px}}
.mc{overflow-x: hidden}@media (max-width: 991px){
    .desk{display: none}}
.opa{color: white;opacity: 0.5}
.opa:hover{color: white;opacity: 0.5}
@media (max-width: 1024px){
    .delet{display: none}
    .main {transition: margin-left .5s;padding: 16px}
    .card{box-shadow: 0 4px 8px 0 rgb(26, 56, 1);border-radius: 3px;transition: all 300ms ease-out;cursor: pointer}}
@media (min-width: 1025px){.main{display: none}
.delet{margin-left: auto;}
.card:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 3px;transition: all 300ms ease-out;cursor: pointer}}

.background{
    margin-top: 50px;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}

.btn{
    width: 200px;
    height: 50px;
    /* background: linear-gradient(120deg, #cc00cc , #66ff99 ); */
    background-color: whitesmoke;
    border: none; 
    border-radius: 6px;
    color: black;
    font-size: bold; 
    cursor: pointer;
}

.btn:active{
    background-color: green;
}

.grey{
    color: darkgrey;
}

.btn2{
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 200px;
    background: linear-gradient(120deg, #cc00cc , #66ff99 ); 
    cursor: pointer;
}

.btn2:active{
    background-color: #8e44ad
}

.btn2:focus{
    outline: none;
}

.h{
    font-weight: normal;
}

.hr{
    width: 50px;
    height: 15px;
}

.td{
    text-decoration: none;
}

.head-slide::-webkit-scrollbar{
    display: none;
}
